.formly-field{
	float: left;
    width: 45%;
    height: 45px;
}
.formly-field .control-label{
	width: 80px;
    text-align: right;
}
.trackItem{
	padding: .5em 1em;
	border-bottom: solid 1px #ccc;
}
.trackItem .date{
	color: #d1d1d1;
	font-size: 12px;
	border-bottom: dashed 1px #ccc;
}
.trackItem .saler{
	color: #d1d1d1;
	font-size: 12px;
}
.trackItem .description{
	padding: .5em 0 0;
	font-size: 12px;
	border: none;
}
.addtrack{
	margin: 1em;	
    border: solid 1px #ccc;
    background: #eee;
}
.addtrack textarea{
	height: 50px;
}
.addtrack button.save{
	height: 50px;
}
.addtrack label{
	float: left;
	width: 65px;
}
.trackblock{
	max-height: 300px;
	overflow-y:auto;
}
.cussetting{
	width: 650px;
}
.cussetting .form-group{
	border-bottom: 1px dashed #ccc;
	padding: .5em;
	margin:0; 
}
.cussetting .control-label {
	line-height: 34px;
}
.table-opt a{
	margin: 0 .25em;
}
.btn-upload {
    position: relative;
}

.btn-upload input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
}