<form class="form-horizontal add-order-container" ng-controller="AddOrderCtrl2">
  <div>
    <div>
      <p class="form-control-static">账户余额：<span class="amount-balance">￥{{balance}}</span></p>
    </div>
    <div>
      <p ng-if="!postData.OrderId" class="form-control-static">
        <span><span class="red">*</span>销售：</span>
        <select class="select-style c" ng-model="postData.SalesId">
          <option value="">请选择销售</option>
          <option value="{{::sale.UserId}}" ng-repeat="sale in sales" ng-bind="sale.RealName"></option>
        </select>
      </p>
      <p ng-if="postData.OrderId" class="form-control-static">销售：{{postData.SalerName}} 订单号：{{postData.OrderId}} 所属公司：{{postData.ChannelName}} 提单员：{{postData.BillName}}</p>
    </div>
    <div>
      <p class="form-control-static">
        <label class="present-bill">
          <input type="checkbox" ng-model="isNewCompany" ng-disabled="postData.OrderId" ng-change="setCategory()"> <span>预提单</span>
        </label>
      </p>
    </div>
    <div class="gray-line"></div>
    <!-- 标题 -->
    <!-- 新增 -->
    <div ng-if="category==1">
      <div class="add-order-title">
          <span>基本信息</span>
      </div>
      <div class="custom-tips">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <span>【温馨提示】可根据客户在国家企业信息公示系统的链接地址，快速完成工商信息的录入。</span>
      </div>
      <div class="row mt-20">
        <div class="col-md-6">
          <label class="col-md-3 control-label"><span class="required"></span>公司名称：</label>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="请输入准确完整的公司名称"  ng-model="postData.Name">
              <!-- <div ng-click="toCheck()"  id="exampleInputAmount" aria-haspopup="true" aria-expanded="false" class="input-group-addon input-group-addon-bg-blue">检索</div> -->
              <div ng-click="fastCheck()"  id="exampleInputAmount" aria-haspopup="true" aria-expanded="false" class="input-group-addon input-group-addon-bg-blue">快速录入</div>
              <ul class="dropdown-menu dropdown-company-list" aria-labelledby="exampleInputAmount">
                <li ng-repeat="item in companyList" ng-click="companySelect(item.Name, item.id)"><a href="javascript:void(0)">{{item.Name}}</a></li>
              </ul>
            </div>
            <span style="color: red; font-size: 12px;" ng-if="searchError" ng-bind="searchError"></span>
          </div>
          <div class="clearfix mb-20"></div>
          <label class="col-md-3 control-label"><span class="required"></span>联系人：</label>
          <div class="col-md-6">
            <input type="text" class="form-control" ng-model="postData.Contacts" maxlength="10" required>
          </div>
        </div>

        <div class="col-md-6">
          <ul class="business-license-right">
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>所在城市：</label>
              <div class="col-md-3">
                <select class="form-control" ng-model="postData.CityCode" required>
                  <option ng-repeat="city in cities" ng-selected="postData.CityCode == city.CityCode" value="{{city.CityCode}}">{{::city.CityName}}</option>
                </select>
              </div>
            </li>
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>手机号：</label>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="postData.Mobile" maxlength="11" required>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="add-order-title">
          <span>工商信息</span>
      </div>
      <div class="row">
        <div class="col-md-6">
          <custom-file-uploader class="ml-20" ng-model="postData.IdentityCardImg" uploader="ImgUploader" title="请上传清晰的身份证人像面，图片大小不要超过1M"></custom-file-uploader>
          <custom-file-uploader ng-model="imgSrc2" uploader="ImgUploader1" class="mt-40 ml-20" title="请上传清晰的营业执照，图片大小不要超过1M"></custom-file-uploader>
        </div>
        <div class="col-md-6">
          <ul class="business-license-right">
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>法人姓名：</label>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="postData.LegalPerson" maxlength="20" required ng-disabled="isCompanyReadonly"/>
              </div>
            </li>
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>法人身份证号：</label>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="postData.PersonCardID" maxlength="18" required/>
              </div>
            </li>
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>公司住所：</label>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="postData.Address" maxlength="100" required ng-disabled="isCompanyReadonly"/>
              </div>
            </li>
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>社会统一信用代码：</label>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="postData.RegNO" maxlength="18" required ng-disabled="isCompanyReadonly"/>
              </div>
            </li>
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>营业期限：</label>
              <div class="col-md-6">
                <div class="input-group" style="width:100%">
                  <input type="text" class="date-input" uib-datepicker-popup ng-model="postData.RegisterDate" is-open="startDateIsOpened" datepicker-options="startDateOptions" ng-required="true" close-text="关闭" current-text="今天" clear-text="清空" readonly ng-click="startDateIsOpened = !startDateIsOpened"
                   ng-change="setMinDate()" ng-disabled="isCompanyReadonly"/>
                  <span class="input-group-date">-</span>
                  <input ng-hide="isReadOnly && postData.NoDeadLine" type="text" class="date-input" uib-datepicker-popup ng-model="postData.BusnissDeadline" is-open="endDateIsOpened" datepicker-options="endDateOptions" ng-required="true" close-text="关闭" current-text="今天" clear-text="清空" readonly ng-disabled="postData.NoDeadLine || isCompanyReadonly" ng-click="endDateIsOpened = !endDateIsOpened"
                   ng-change="setMinDate()" />
                  <label class="date-deadline"ng-hide="isReadOnly && !postData.NoDeadLine">
                    <input ng-hide="isReadOnly && postData.NoDeadLine" type="checkbox" name="noLimitDate" ng-readonly="isReadOnly" value="1" ng-click="postData.NoDeadLine = !postData.NoDeadLine; " ng-checked="postData.NoDeadLine == 1" ng-disabled="isCompanyReadonly"/>
                    无期限
                  </label>
                </div>
              </div>
            </li>
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>注册资金：</label>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="postData.RegisteredCapital" maxlength="15" required ng-disabled="isCompanyReadonly"/>
              </div>
            </li>
            <li>
              <label class="col-md-4 control-label"><span class="required"></span>经营范围：</label>
              <div class="col-md-6">
                <textarea type="text" class="form-control" rows="9" ng-model="postData.BusinessScope" ng-disabled="isCompanyReadonly"/>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="add-order-title">
        <span>合同信息</span>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="">
          <span class="required"></span>合同编号:
        </label>
        <div class="col-sm-3">
          <input type="email" class="form-control" ng-model="postData.ContractNO">
        </div>
        <label class="col-sm-2 control-label" for="">
          <span class="required"></span>纳税人类别:
        </label>
        <div class="col-sm-5">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="postData.AddedValue" value="1"> 小规模
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="postData.AddedValue" value="2"> 一般纳税人
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="">
          <span class="required"></span>套餐类型:
        </label>
        <div class="col-sm-10">
          <custom-radio ng-model="postData.payType" options="payTypes[postData.AddedValue]"></custom-radio>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class="required"></span>合同金额:
        </label>
        <div class="col-sm-3">
          <input type="number" class="form-control" placeholder="">
        </div>
        <div class="col-sm-offset-2 col-sm-10 clearfix mt-5">
          <p class="red">合同金额根据所属城市、纳税人类别、套餐类型自动计算，不包含礼包价格</p>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class="required"></span>合同照片:
        </label>
        <div class="col-sm-5">
          <div class="upload-file-btn pull-left mr-20"><span>上传文件</span></div>
          <input type="file" style="display: none;">
          <div class="form-control-static pull-left">xxxx</div>
        </div>
        <div class="col-sm-offset-2 col-sm-10 clearfix mt-5">
          <p>请上传清晰的合同照片，图片大小不要超过1M</p>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class="required"></span>备注:
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" id="" rows="4"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-10 col-sm-2 text-right">
          <button type="button" class="btn btn-default">取消</button>
          <button type="button" class="btn btn-warning" ng-click="save()">保存</button>
        </div>
      </div>
    </div>
    <!-- 预提单 -->
    <div ng-if="category==2">
      <div class="add-order-title">
          <span>基本信息</span>
      </div>
      <div class="custom-tips">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <span>【温馨提示】支持对二代居民身份证的关键字段识别。上传身份证后，即可自动读取并带出姓名、身份证号等信息。</span>
      </div>
    </div>
  </div>
</form>
