<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body clearfix">
    <div ng-class="{padding:!isModal}">
<form class="form-inline agform" ng-class="{submited:submited}" name="agForm" novalidate ng-submit="ok()" ng-init="$parent.agForm = agForm">
        <div class="clearfix">
            <div class="form-group col-md-6">
                <label for="" class="required">代理商名称</label>
                <input type="text" class="form-control" ng-model="item.ChannelName" required />
            </div>
            <div class="form-group col-md-6">
                <label for="" class="required">城市</label>
                <select ng-model="item.CityCode" class="form-control" required>
                    <option ng-repeat="city in cities" ng-selected="item.CityCode == city.Code" value="{{::city.Code}}">{{::city.Name}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">负责人</label>
                <input type="text" class="form-control" ng-model="item.Principal" />
            </div>
            <div class="form-group col-md-6">
                <label for="">手机</label>
                <input type="text" class="form-control" ng-model="item.Mobile" />
            </div>
            <div class="form-group col-md-6">
                <label for="">邮箱</label>
                <input type="text" class="form-control" ng-model="item.Email" />
            </div>
            <div class="form-group col-md-6">
                <label for="">地址</label>
                <input type="text" class="form-control" ng-model="item.Address" />
            </div>
            <div class="form-group col-md-6">
                <label for="">法人</label>
                <input type="text" class="form-control" ng-model="item.LegalPerson" />
            </div>
            <div class="form-group col-md-6">
                <label for="">开户行</label>
                <input type="text" class="form-control" ng-model="item.DepositBank" />
            </div>
            <div class="form-group col-md-6">
                <label for="">开户行支行</label>
                <input type="text" class="form-control" ng-model="item.BranchBank" />
            </div>
            <div class="form-group col-md-6">
                <label for="">开户名</label>
                <input type="text" class="form-control" ng-model="item.AccountName" />
            </div>
            <div class="form-group col-md-6">
                <label for="">银行账号</label>
                <input type="text" class="form-control" ng-model="item.BankAccount" />
            </div>
        </div>
        <hr class="col-md-12" />
        <div class="clearfix">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="text-center"><span class="upload_btn pull-right"><a href="javascript:;" class="btn btn-primary btn-sm" role="button">上传</a><input style="font-size:12px;" type="file" nv-file-select="" uploader="uploader1" /></span><span style="font-weight:700">上传身份证 </span> </h4>
                        <div class="progress" style="">
                            <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader1.progress + '%' }" style="width: 100%;"></div>
                        </div>
                    </div>

                        <img class="order-img thumbnail" ng-if="item.IdCard" ng-src="{{item.IdCard}}" alt="" style="width:240px; height:190px; " pic-view></a>

                    <div class="thumbnail noImg" ng-if="!item.IdCard"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="text-center"><span class="upload_btn pull-right"><a href="javascript:;" class="btn btn-primary btn-sm" role="button">上传</a><input style="font-size:12px;" type="file" nv-file-select="" uploader="uploader2" /></span><span style="font-weight:700">代帐资质 </span> </h4>
                        <div class="progress" style="">
                            <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader2.progress + '%' }" style="width: 100%;"></div>
                        </div>
                    </div>

                        <img class="order-img thumbnail" ng-if="item.Aptitude" ng-src="{{item.Aptitude}}" alt="" style="width:240px; height:190px; " pic-view></a>

                    <div class="thumbnail noImg" ng-if="!item.Aptitude"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="text-center"><span class="upload_btn pull-right"><a href="javascript:;" class="btn btn-primary btn-sm" role="button">上传</a><input style="font-size:12px;" type="file" nv-file-select="" uploader="uploader3" /></span><span style="font-weight:700">营业执照(三证合一) </span> </h4>
                        <div class="progress" style="">
                            <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader3.progress + '%' }" style="width: 100%;"></div>
                        </div>
                    </div>

                        <img class="order-img thumbnail" ng-src="{{item.Documents}}" ng-if="item.Documents" alt="" style="width:240px; height:190px; " pic-view></a>

                    <div class="thumbnail noImg" ng-if="!item.Documents"></div>
                </div>
            </div>
        </div>
        <div ng-if="item.Status == 3" class="form-group col-md-12">
            <label style="width: auto">驳回原因</label>
            <span style="color: red">{{item.BackReason}}</span>
        </div>
        <div class="form-group col-md-12 text-center" ng-if="!isModal">
            <button class="btn btn-primary" type="submit">添加</button>
            <button class="btn btn-default" type="reset">重置</button>
        </div>
    </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
</div>
