<div class="recharge">
    <h2 class="clearfix">
        下级代理商管理
    </h2>
    <div class="well well-sm u-search form-inline">
        <div class="form-group">
            <label>代理商</label>：
            <input type="text" ng-model="channelname" class="form-control" tabindex="1">
        </div>
        <div class="form-group">
          <label>状态</label>：
          <select ng-model="status" class="form-control">
            <option ng-value="0" ng-selected="+status==0">全部</option>
            <option ng-value="1">正常</option>
            <option ng-value="2">未审核</option>
            <option ng-value="3">拒审</option>
        </select>
        </div>
        <button type="button" class="btn btn-primary" ng-click="pageChanged()" tabindex="2">查询</button>
        <button class="btn btn-primary" ng-click="addAgent()" tabindex="3">申请下级代理商</button>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="info">
                <th>省</th>
                <th>市</th>
                <th>一级代理</th>
                <th>二级代理</th>
                <th>状态</th>
                <th>入驻日期</th>
                <th>余额</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data">
                <td ng-repeat="col in row.cols  track by $index" ng-class="{'text-right': rightAlign && rightAlign.indexOf($index)>-1}" ng-bind-html="col"></td>
                <td>{{row.ProvinceName}}</td>
                <td>{{row.CityName}}</td>
                <td>{{row.ChannelName1}}</td>
                <td>{{row.ChannelName2}}</td>
                <td>{{row.StatusText}}</td>
                <td>{{row.CreateDate}}</td>
                <td>{{row.Balance}}</td>
                <td>
                    <div class="operate">
                        <a href="javascript:;" ng-click="modify(row)">修改</a>
                        <a href="javascript:;" ng-if="row.Status != 1" ng-click="remove(row.ChannelId)">删除</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="u-paginator form-inline">
        <uib-pagination total-items="paginator.total" items-per-page="paginator.perPage" boundary-links="true" ng-model="paginator.currentPage" previous-text="{{::paginator.previousText}}" next-text="{{::paginator.nextText}}" first-text="{{::paginator.firstText}}" last-text="{{::paginator.lastText}}" force-ellipses="true" max-size="6" num-pages="paginator.numPages" ng-change="pageChanged()">
        </uib-pagination>
        <div class="u-pages">
            <span>{{paginator.currentPage}}</span> /
            <span>{{paginator.numPages}}</span>
        </div>
        <form name="paginatorForm" novalidate>
            <div class="input-group">
                <input type="number" name="paginatorInput" ng-model="currentPage" required min="1" max="{{paginator.numPages}}" class="form-control">
                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"  ng-disabled="!paginatorForm.$valid" ng-click="setCurrentPage()">Go!</button>
                                </span>
            </div>
        </form>
    </div>
</div>
