<div class="m-invoice">
    <h2>发票管理</h2>
    <div class="well well-sm u-account">
        <strong>未开发票金额</strong><span style="color:red;margin:0 12px;">{{balance}}元
        <!-- <button ng-disabled="invalid" class="btn btn-sm btn-primary" style="margin:0 12px;" type="button" ng-click="applyInvoice()">立即申请</button> -->
        <button class="btn btn-sm btn-primary" style="margin:0 12px;" type="button" ng-click="applyInvoice()">立即申请</button>
        <span style="position: absolute;"><span style="vertical-align: top;margin-right: 0;">提醒：</span>
        <ul style="display:inline-block;padding-left: 20px;margin-top: -5px;">
            <li>每月仅10-20日可申请发票，未开发票金额为本月之前的累计未开发票总额（其中抵消掉退单已开具的发票金额）。</li>
            <li>第二年3月份前可申请上年发票，3月份及以后则不可申请。</li>
        </ul>
        </span>
    </div>

    <uib-tabset active="active">
        <uib-tab heading="发票申请查询" select="tabSelect(1)">
            <div class="well well-sm u-serach">
                <form class="form-inline">
                    <div class="form-group">
                        <label>
                          发票申请编号:
                        </label>
                        <input type="text" ng-model="applyParams.invoiceid" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>
                          代理商:
                        </label>
                        <input type="text" ng-model="applyParams.channelname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>
                          税号:
                        </label>
                        <input type="text" ng-model="applyParams.invoicecode" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>
                            申请时间：
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="applyViews.start" uib-datepicker-popup="yyyy/MM/dd" ng-required date-options="datepickerConfig.options" close-text="{{::datepickerConfig.closeText}}" clear-text="{{::datepickerConfig.clearText}}" current-text="{{::datepickerConfig.currentText}}"
                              is-open="datepickerConfig.startFlag" ng-click="showDatepicker('start')" readonly="" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="showDatepicker('start')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div> —
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="applyViews.end" uib-datepicker-popup="yyyy/MM/dd" ng-required date-options="datepickerConfig.options" close-text="{{::datepickerConfig.closeText}}" clear-text="{{::datepickerConfig.clearText}}" current-text="{{::datepickerConfig.currentText}}"
                              is-open="datepickerConfig.endFlag" ng-click="showDatepicker('end')" readonly="" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="showDatepicker('end')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            审核状态：
                        </label>
                        <select class="form-control" ng-model="applyViews.selectedApplyType" ng-options="type.name for type in applyType">
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary" ng-click="getList();">查询</button>
                </form>
            </div>

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="info">
                      <th>编号</th>
                      <th>一级代理商</th>
                      <th>二级代理商</th>
                      <th>发票抬头</th>
                      <th>税号</th>
                      <th>开票金额</th>
                      <th>发票类型</th>
                      <th>申请时间</th>
                      <th>审批状态</th>
                      <th>审批意见</th>
                      <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr ng-repeat="apply in applyModel track by apply.InvoiceId"> -->
                      <tr ng-repeat="apply in applyModel">
                        <td>{{::apply.InvoiceId}}</td>
                        <td>{{::apply.ChannelName1}}</td>
                        <td>{{::apply.ChannelName2}}</td>
                        <td>{{::apply.Title}}</td>
                        <td>{{::apply.InvoiceNumber}}</td>
                        <td>{{::apply.Amount}}</td>
                        <td>{{::apply.Property | filterProp}}</td>
                        <td>{{apply.ApplyDate | date: 'yyyy-MM-dd' }}</td>
                        <td>{{apply.Status | filter1Status}}</td>
                        <td>{{::apply.AuditMsg}}</td>
                        <td><button class="btn btn-link" ng-if="apply.Status==2 || apply.IsCurr !== 1" ng-click="scan(apply)" type="button">查看</button>
                            <button class="btn btn-link" ng-if="apply.Status!=2 && apply.IsCurr == 1" ng-click="applyInvoice(apply)" type="button">修改</button>
                            <button class="btn btn-link" ng-if="apply.Status!=2 && apply.IsCurr == 1" ng-click="delete(apply)" type="button">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="u-paginator">
                <uib-pagination total-items="applyPaginator.total" items-per-page="applyPaginator.perPage" boundary-links="true" ng-model="applyPaginator.currentPage" previous-text="{{::applyPaginator.previousText}}" next-text="{{::applyPaginator.nextText}}" first-text="{{::applyPaginator.firstText}}"
                  last-text="{{::applyPaginator.lastText}}" force-ellipses="true" max-size="6" num-pages="applyPaginator.numPages" ng-change="pageChanged()">

                </uib-pagination>
                <div class="u-pages">
                    <span>{{applyPaginator.currentPage}}</span> /
                    <span>{{applyPaginator.numPages}}</span>
                </div>
                <form name="paginatorForm1" novalidate>
                    <div class="input-group">
                        <input type="number" name="paginatorInput" ng-model="applyViews.currentPage" required min="1" max="{{applyPaginator.numPages}}" class="form-control">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button"  ng-disabled="!paginatorForm1.$valid" ng-click="setCurrentPage()">Go!</button>
                    </span>
                    </div>
                </form>
            </div>
        </uib-tab>
        <uib-tab heading="发票开具查询" select="tabSelect(2)">
            <div class="well well-sm u-serach">
                <form class="form-inline">
                    <div class="form-group">
                        <label>
                        发票申请编号:
                      </label>
                        <input type="text" ng-model="issueParams.invoiceid" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>
                        代理商:
                      </label>
                        <input type="text" ng-model="issueParams.channelname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>
                        税号:
                      </label>
                        <input type="text" ng-model="issueParams.invoicecode" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>
                            申请时间：
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="issueViews.start" uib-datepicker-popup="yyyy/MM/dd" ng-required date-options="datepickerConfig.options" close-text="{{::datepickerConfig.closeText}}" clear-text="{{::datepickerConfig.clearText}}" current-text="{{::datepickerConfig.currentText}}"
                              is-open="datepickerConfig.startFlag" ng-click="showDatepicker('start')" readonly="" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="showDatepicker('start')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div> —
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="issueViews.end" uib-datepicker-popup="yyyy/MM/dd" ng-required date-options="datepickerConfig.options" close-text="{{::datepickerConfig.closeText}}" clear-text="{{::datepickerConfig.clearText}}" current-text="{{::datepickerConfig.currentText}}"
                              is-open="datepickerConfig.endFlag" ng-click="showDatepicker('end')" readonly="" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="showDatepicker('end')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="getList()">查询</button>
                </form>
            </div>

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="info">
                        <th>申请编号</th>
                        <th>一级代理商</th>
                        <th>二级代理商</th>
                        <th>发票抬头</th>
                        <th>税号</th>
                        <th>发票金额</th>
                        <th>发票类型</th>
                        <th>申请时间</th>
                        <th>审批时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="apply in issueModel track by apply.InvoiceId">
                        <td>{{::apply.InvoiceId}}</td>
                        <td>{{::apply.ChannelName1}}</td>
                        <td>{{::apply.ChannelName2}}</td>
                        <td>{{::apply.Title}}</td>
                        <td>{{::apply.InvoiceNumber}}</td>
                        <td>{{::apply.Amount}}</td>
                        <td>{{::apply.Property | filterProp}}</td>
                        <td>{{apply.ApplyDate | date: 'yyyy-MM-dd' }}</td>
                        <td>{{apply.AuditDate | date: 'yyyy-MM-dd' }}</td>
                        <td><button class="btn btn-link" ng-click="scan(apply)">查看</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="u-paginator">
                <uib-pagination total-items="issuePaginator.total" items-per-page="issuePaginator.perPage" boundary-links="true" ng-model="issuePaginator.currentPage" previous-text="{{::issuePaginator.previousText}}" next-text="{{::issuePaginator.nextText}}" first-text="{{::issuePaginator.firstText}}"
                  last-text="{{::issuePaginator.lastText}}" force-ellipses="true" max-size="6" num-pages="issuePaginator.numPages" ng-change="pageChanged()">

                </uib-pagination>
                <div class="u-pages">
                    <span>{{issuePaginator.currentPage}}</span> /
                    <span>{{issuePaginator.numPages}}</span>
                </div>
                <form name="paginatorForm2" novalidate>
                    <div class="input-group">
                        <input type="number" name="paginatorInput" ng-model="issueViews.currentPage" required min="1" max="{{issuePaginator.numPages}}" class="form-control">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button"  ng-disabled="!paginatorForm2.$valid" ng-click="setCurrentPage()">Go!</button>
                    </span>
                    </div>
                </form>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
