<div class="l-back"></div>
<div class="l-box">
    <div class="l-logo pull-left">
    </div>
    <div class="l-lbox pull-right">
        <div class="text-center l-header">
            <img src="images/LOGO.png" alt="">
        </div>
        <form class="form-inline">
            <div class="form-group col-md-12">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" class="form-control" placeholder="用户名" ng-model="userName">
            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" placeholder="密码" ng-model="password">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-click="login()">登录</button>
            </div>
        </form>
    </div>
</div>
