<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar" md-colors="::{background: 'default-primary-50'}" style="height: 45px">
    <div class="md-toolbar-tools" md-colors="::{background: 'default-primary-50'}" style="padding-left:0">
        <a class="headerlogo" ng-click="goMainHtml()"></a> <span style="margin: 0 0 0 232px;position:absolute;height:45px;z-index:1;top:0;line-height:50px;font-size:20px;">渠道管理系统</span>
          <div class="warning" ng-if="showBalanceWarning" style="position: absolute;right: 350px;">您的账户余额已不足1000元，为保证您的正常使用请尽快充值。</div>
        <div style="position: absolute; right: 12px;font-size: 16px; top:6px;line-height: 34px;">
            <span>欢迎您，{{user.RealName}}&nbsp;进入！</span> <span class="btn btn-link pull-right" ng-if="user.se" style="color: #fff; text-align: right;" ng-click="logoutZY()"><i class="fa fa-sign-out" aria-hidden="true"></i>退出直营</span>
            <span class="btn btn-link pull-right line" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>[退出]</span>
            <span class="btn btn-link pull-right line" ng-click="updatePswd()"><i class="fa fa-sign-out" aria-hidden="true"></i>[修改密码]</span>
        </div>
    </div>
</md-toolbar>
<div class="g-content">
    <div class="m-main">
        <div class="content-left">
            <div class="u-nav-container">
                <div class="nav-home">
                  <span ng-click="goMainHtml()">首页</span>
                </div>
                <treecontrol class="tree-light" tree-model="navTreeModel" options="navTreeOptions" on-selection="routerChange(node)" selected-node="selectedNavTree" expanded-nodes="expandedNodes">
                    <span>{{::node.name}}</span>
                </treecontrol>
            </div>
        </div>
        <div class="content-right" ui-view>
          <div class="home-content">
            <div class="board dash-board">
              <div class="dash-board-bg">
                <h4>仪表盘</h4>
              </div>
            </div>
            <div class="home-right">
              <div class="board notice">
                <h4>
                  最新公告
                  <span class="more" ng-click="goMoreNotice()">更多>></span>
                </h4>
                <div class="last-item-border">
                  <div ng-if="noticelists.length" class="list-item" ng-repeat="list in noticelists">
                    <div>
                      <i ng-if="list.IsNew">新</i>
                      <span ng-click="goDetail(list.id)">{{list.Title}}</span>
                    </div>
                    <p>{{list.CreateDate}}</p>
                  </div>
                </div>
                <div ng-if="!noticelists.length" class="list-bg"></div>
              </div>
              <div class="board document">
                <h4>
                  帮助文档
                  <span class="more" ng-click="goMorefile()">更多>></span>
                </h4>
                <div ng-if="doclists.length" class="document-item" ng-repeat="list in doclists">
                  <i></i>
                  <div ng-click="download(list.FilePath)">{{list.FileName}}</div>
                </div>
                <div ng-if="!doclists.length" class="list-bg list-bg-document"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
