<div class="m-achieve">
    <h2>
      传票数据统计
    </h2>
    <div class="table-container">
        <div class="well well-sm u-search">
            <form class="form-inline">
              <div class="form-group">
                <label>截止日期：</label>
                  <div class="input-group">
                      <input class="form-control" type="text" uib-datepicker-popup ng-model="enddate" is-open="dateIsOpenedE" datepicker-options="dateOptions2" ng-required="true" close-text="关闭" current-text="今天" clear-text="清空" readonly ng-click="dateIsOpenedE = !dateIsOpenedE" style="width:120px"/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default"  ng-click="dateIsOpenedE = !dateIsOpenedE"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
              </div>
                <button type="button" class="btn btn-primary" ng-click="search()">查询</button>
                <button type="button" class="btn btn-primary" ng-click="toExcel()">导出</button>
            </form>
        </div>
        <div style="overflow: auto;" js-height>
          <table class="table table-striped table-hover table-bordered" id="dataTable">
              <thead fix-head>
                  <tr class="info">
                      <!-- <th rowspan="2">大区</th> -->
                      <th rowspan="2">省</th>
                      <th rowspan="2">市</th>
                      <th rowspan="2">一级代理商</th>
                      <th rowspan="2">二级代理商</th>
                      <th rowspan="2">当前账期</th>
                      <th rowspan="2">零申报</th>
                      <th colspan="2" class="text-center">催票</th>
                      <th rowspan="2">确认零票</th>
                      <th colspan="3" class="text-center">传票</th>
                      <th rowspan="2">传票完成率</th>
                      <th rowspan="2">驳票客户数</th>
                  </tr>
                  <tr class="info">
                      <th>未催</th>
                      <th>已催</th>
                      <th>待传票</th>
                      <th>传票未完成</th>
                      <th>传票完成（有票）</th>
                  </tr>
                  <tr>
                      <th colspan="4">合计</th>
                      <th class="text-right">{{aCurrentBusinessDateCompanyCount}}</th>
                      <th class="text-right">{{aTiDanZero}}</th>
                      <th class="text-right">{{aUnUrgeCount}}</th>
                      <th class="text-right">{{aUrgeCount}}</th>
                      <th class="text-right">{{aConfirmZero}}</th>
                      <th class="text-right">{{aUnMonitionCount}}</th>
                      <th class="text-right">{{aMonitionCount}}</th>
                      <th class="text-right">{{aMonitionCompleteCount}}</th>
                      <th class="text-right"></th>
                      <th class="text-right">{{aRejectCount}}</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in tableData">
                  <!-- <td style="text-align:center; width:90px">{{item.PartitionName}}</td> -->
                  <td style="text-align:center; width:200px">{{item.ProvinceName}}</td>
                  <td style="text-align:center; width:120px">{{item.CityName}}</td>
                  <td style="text-align:center; width:120px">{{item.ChannelName1}}</td>
                  <td style="text-align:center; width:120px">{{item.ChannelName2}}</td>
                  <td style="text-align:center; width:120px; text-decoration: underline; color: blue;" ng-click="downloadColumn1(item)">{{item.CurrentBusinessDateCompanyCount}}</td>
                  <td style="text-align:center; width:120px">{{item.TiDanZero}}</td>
                  <td style="text-align:center; width:100px; text-decoration: underline; color: blue;" ng-click="downloadColumn2(item)">{{item.UnUrgeCount}}</td>
                  <td style="text-align:center; width:120px; text-decoration: underline; color: blue;" ng-click="downloadColumn3(item)">{{item.UrgeCount}}</td>
                  <td style="text-align:center; width:120px">{{item.ConfirmZero}}</td>
                  <td style="text-align:center; width:150px; text-decoration: underline; color: blue;" ng-click="downloadColumn4(item)">{{item.UnMonitionCount}}</td>
                  <td style="text-align:center; width:150px">{{item.MonitionCount}}</td>
                  <td style="text-align:center; width:150px">{{item.MonitionCompleteCount}}</td>
                  <td style="text-align:center; width:150px">{{item.CompleteRate | filterNum}}</td>
                  <td style="text-align:center; width:150px; text-decoration: underline; color: blue;" ng-click="downloadColumn5(item)">{{item.RejectCount}}</td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>
