<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3 class="modal-title">设置是否可以添加代理</h3>
</div>
<div class="modal-body clearfix">
	<label>
    <input type="radio" ng-model="isFetation" ng-value="1">
    是
  </label><br/>
  <label>
    <input type="radio" ng-model="isFetation" ng-value="0">
    否
  </label>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
</div>
