<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3 class="modal-title">设置礼包</h3>
</div>
<div class="modal-body clearfix">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="info">
                <th>礼包类型</th>
                <th>客户类型</th>
                <th>价格</th>
                <th>数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data">
                <td>{{::row.GiftTypeName}}</td>
                <td>{{::row.AddedValue|filterAddValue}}</td>
                <td class="text-right">{{::row.Price}}</td>
                <td>{{::row.Num}}</td>
                <td><a href="javascript:;" ng-click="delete(row)">删除</a></td>
            </tr>
        </tbody>
    </table>
    <div class="form-inline addGift">
        <select ng-model="gift.GiftTypeId" class="form-control">
            <option value="{{::option.Id}}" ng-repeat="option in giftTypes track by option.Id">{{::option.GiftTypeName}}</option>
        </select>
        <select ng-model="gift.AddedValue" class="form-control">
            <option value="1">小规模</option>
            <option value="2">一般纳税人</option>
        </select>
        <input type="text" class="form-control" ng-model="gift.Price" placeholder="价格">
        <input type="text" class="form-control" ng-model="gift.Num" placeholder="数量">
        <button class="btn btn-primary" ng-click="save()">增加</button>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
</div>


