<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h4 class="modal-title">提示</h4>
</div>
<div class="modal-body form-inline addorder2-modal">
  <div class="row">
    <span class="href-style">{{alertMsg}}</span>
  </div>
</div>
<div class="modal-footer" ng-show="!sign">
    <button class="btn btn-warning" type="button" ng-disabled="applyForm.$invalid" ng-click="submit()">确定提交</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">返回修改</button>
</div>
<div class="modal-footer" ng-show="sign">
    <button class="btn btn-warning" type="button" ng-click="cancel()">确定</button>
</div>
