<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3 class="modal-title">添加/修改代理商</h3>
</div>
<div class="modal-body clearfix">
    <div ng-class="padding">
        <form class="form-inline agform" ng-class="{submited:submited}" name="agForm" novalidate ng-submit="ok()" ng-init="$parent.agForm = agForm">
            <div class="form-group col-md-12">
                <label for="" class="required">中心用户名</label>
                <input type="text" name="userName" ng-pattern="/^[@a-zA-Z0-9_\u4e00-\u9fa5]+$/" ng-model="item.UserName" required />
                <span class="text-danger" ng-messages="agForm.userName.$error">
                    <i ng-message="pattern">
                        请输入汉字数字字母或者下划线的任意组合
                    </i>
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="" class="required">密码</label>
                <input type="text" ng-model="item.PassWrod" required/>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">通过</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
</div>
